html, body {
    font-family: 'Calibri';
    margin: 0;
    height: 100%;
}

:root {
    --dark-blue-color: #13547a;
    --light-blue-color: #7fcec6;
    --text-transform: scale(1.14,1);
    --smooth-transition-background: background-color 200ms;
    --smooth-transform: transform 100ms;
    --gradient: linear-gradient(10deg, #13547a, #7fcec6);
}

/* ШАПКА САЙТА С НАВИГАЦИЕЙ */

.main-top-container {
    display: flex;
    justify-content:center;
    margin: 10px 10px 0px 10px;
    width: 99%;
    height: 500px;
    background: var(--gradient);
}

.main-top-head-inside {
    position:fixed;
    left: 10px;
    display: flex;
    justify-content:center;
    width: 99%;
    height: 80px;
    transition: var(--smooth-transition-background);
}

.main-top-head-inside.fixed {
    background-color: var(--light-blue-color);
    position: fixed;
    z-index: 1000;
}

.logo-left {
    display: flex;
}

.logo-left:hover {
    cursor: pointer;
}

#logo-pic {
    width: 30px;
    height: 30px;
    padding: 20px 15px 0 0;
}

.top-title h1{
    margin-top: 14px;
    font-size: 30px;
    transform: var(--text-transform);
}

.top-main-sections {
    display: flex;
    padding: 15px 300px 0px 80px;
    color: white;
    cursor: default;
}

.top-main-sections p:hover {
    cursor: pointer;
    color: var(--dark-blue-color);
    transition: color 200ms;
}

.top-main-sections p {
    display: inline;
    margin: 0;
    padding: 15px 25px 0 25px;
    transition: color 200ms;
    font-weight: 350;
    font-size: 13px;
    transform: var(--text-transform);
}

#pages-p {
    padding-right: 10px;
}

.pages-arrow {
    display: flex;
}

#arrow {
    padding: 0px 0px 17px 0px;
    width: 20px;
    fill: white;
    transition: fill 200ms;
}

#home-p {
    color: var(--dark-blue-color);
}

.pages-arrow:hover #arrow {
    cursor: pointer;
    fill: var(--dark-blue-color);
}

.pages-arrow:hover p {
    cursor: pointer;
    color: var(--dark-blue-color);
}

.pages-arrow:hover .submenu {
    opacity: 1;
    transform: translate(0px, -25px);
    visibility: visible;
    transition: transform 300ms ease, opacity 300ms ease;
}

.submenu {
    position: fixed;
    top: 110px;
    border-radius: 10px;
    background-color: white;
    width: 160px;
    height: 90px;
    z-index: 2;
    transition: transform 300ms ease, opacity 300ms ease, visibility 0s 0.3s;
    opacity: 0;
    visibility: hidden;
}

.submenu ul {
    padding: 15px 15px 15px 25px;
    color: grey;
    list-style-type: none;
    line-height: 33px;
    font-size: 13px;
    font-weight: 300;
    margin-top: 0px;
    transform: var(--text-transform);
}

.submenu a:hover {
    color: var(--dark-blue-color);
}

.submenu ul a {
    color: grey;
    text-decoration: none;
}

.submenu-arrow {
    background-color: white;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    position: absolute;
    bottom: 73px;
    left: 15px;
}

.account-logo {
    margin-top: 20px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    background-color:white;
    transition: var(--smooth-transition-background);
}

#acc-logo {
    fill: var(--dark-blue-color);
    width: 20px;
    height: 20px;
    padding: 10px;
    transition: fill 300ms;
}

.account-logo:hover {
    background-color: var(--dark-blue-color);
    transition: var(--smooth-transition-background);
    cursor: pointer;
}

.account-logo:hover #acc-logo {
    fill: white;
    transition: fill 300ms;
}

hr {
    position: absolute;
    right: 0px;
    top: 70px;
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--light-blue-color);
    z-index: 1;
}

/* ОГЛАВЛЕНИЕ С ПОИСКОМ */

.main-top-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-center-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-top-title h1 {
    flex-wrap: wrap;
    position: absolute;
    top: 150px;
    margin: 0;
    color: white;
    font-size: 60px; 
    transform: var(--text-transform);
}

.main-top-title p {
    position: absolute;
    top: 210px;
    color: var(--dark-blue-color);
    font-size: 25px;
    font-weight: 400;
}

.main-block-input {
    position: absolute;
    top: 310px;
}

.form-search input {
    color: grey;
    width: 900px;
    height: 80px;
    border-radius: 50px;
    font-size: 20px;
    padding: 0 200px 0 80px;
    border: none;
}

.form-search input:focus {
    outline: none;
}

#search-pic {
    width: 33px;
    height: auto;
    position: absolute;
    top: 22px;
    left: 30px;
}

.search-button {
    width: 150px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    font-size: 23px;
    color: white;
    background-color: var(--light-blue-color);
    transition: var(--smooth-transition-background);
}

.search-button:hover {
    background-color: var(--dark-blue-color);
    transition: var(--smooth-transition-background);
    cursor: pointer;
}

/* БЛОКИ С ОПИСАНИЕМ */

.first-main-description {
    background: var(--light-blue-color);
    width: 99%;
    height: 500px;
    margin: 0px 10px 0 10px;
    padding-top: 20px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.description-web-design {
    padding: 5px 100px 0 30px;
    position: relative;
    bottom: 100px;
    width: 280px;
    height: 435px;
    background-color: white;
    border-radius: 20px;
    transition: var(--smooth-transform);
}

.description-web-design:hover {
    cursor: pointer;
    transform: translate(0px, -7px);
    transition: var(--smooth-transform);
}

.description-web-design h2 {
    font-size: 25px;
    font-weight: 400;
}

.number-14 {
    border-radius: 20%;
    font-size: 13px;
    color: white;
    width: 15px;
    height: 15px;
    padding: 5px 7px 11px 7px;
    background-color: #00b0ff;
    position: absolute;
    left: 87%;
    bottom: 87%;
}

.description-web-design p {
    position: absolute;
    top: 10%;
    color: grey;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    padding: 10px 10px 10px 0px;
}

.description-web-design img {
    position: absolute;
    bottom: 0px;
    width: 85%;
    height: 50%;
}

.description-finance {
    padding: 40px 40px 40px 40px;
    position: relative;
    left: 20px;
    bottom: 100px;
    width: 550px;
    height: 360px;
    background-color: white;
    border-radius: 20px;
    transition: var(--smooth-transform);
}

.description-finance:hover {
    transform: translate(0px, -7px);
    transition: var(--smooth-transform);
}

.finance-main-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.gradient-finance {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: var(--gradient);
    filter: opacity(80%);
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.content-1 {
    color: white;
    position: absolute;
    top: 0;
    width: 85%;
}

.content-1 h2 {
    font-size: 25px;
    font-weight: 400;
}

.number-25 {
    border-radius: 20%;
    font-size: 13px;
    color: white;
    width: 15px;
    height: 15px;
    padding: 5px 7px 11px 7px;
    background-color: #536dfe;
    position: absolute;
    left: 100%;
    bottom: 30%;
}

.content-1 p {
    font-size: 22px;
    position: absolute;
    top: 50px;
    font-weight: 280;
    line-height: 33px;
    padding: 0;
}

.content-2 {
    position: absolute;
    top: 45%;
}

.content-2 button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: var(--light-blue-color);
    transition: var(--smooth-transition-background);
}

.content-2 button:hover {
    cursor: pointer;
    background-color: var(--dark-blue-color);
}

.content-3 {
    display: flex;
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.content-3 button {
    position: relative;
    margin: 20px 0 0 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: var(--light-blue-color);
    transition: var(--smooth-transition-background);
}

.content-3 button:hover {
    cursor: pointer;
    background-color: var(--dark-blue-color);
}

.logo-pic {
    margin-top: 5px;
    width: 17px;
    height: 17px;
}

#content-3-flag {
    position: relative;
    left: 295px;
    top: 25px;
    border-radius: 0%;
    width: 25px;
    height: 25px;
    fill: white;
    transition: fill 200ms;
}

#content-3-flag:hover {
    cursor: pointer;
    fill: var(--light-blue-color);
    transition: fill 200ms;
}

.third-section-test {
    height: 100%;
}